.sidebar{

    width:250px;

    background:#1e293b;

    color:white;

    padding:25px 0;

    min-height:100vh;

}

.sidebar h2{

    text-align:center;

    margin-bottom:40px;

    color:white;

}

.sidebar-link{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px 25px;

    color:white;

    transition:.3s;

}

.sidebar-link:hover{

    background:#334155;

}

.active{

    background:#2563eb;

}